@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible { outline: 2px solid #a78bfa; outline-offset: 2px; }
html, body { height: 100%; }
body { background: #000; color: #fff; }
.prose :where(a):not(:where([class~="not-prose"] *)) { text-decoration: underline; }
